{% extends 'base.jinja2' %}
{% import 'macros/form_macros.jinja2' as mform %}
{% block content %}
<div class="col-12 ">
    <div class="row justify-content-center justify-content-sm-center">
        <div class="col-12 col-sm-8 col-md-7 col-lg-5 col-xl-4 bg-white text-dark p-3 mt-5 border">
            <h1 class="mb-4">Passwort ändern</h1>
            <form method="post" class="floating-label-form">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
<!--                                {{form.errors}}-->
                    <input type="password"
                           class="form-control"
                           placeholder="Old password"
                           aria-describedby="id_old_password_help"
                           name="old_password"
                           id="id_old_password"
                           maxlength="None"
                           value="ralf"
                           hidden>

<!--                {{ mform.password_input(form.old_password) }}-->
                {{ mform.password_input(form.new_password1) }}
                {{ mform.password_input(form.new_password2) }}
                <div class="d-flex mt-4">
                    <button type="submit" class="btn btn-primary mr-auto p-2">Speichern</button>
                    <a href="{{ url('realm-home')}}"
                       class="btn btn-secondary p-2">Abbrechen</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}