{% extends 'base.jinja2' %}
{% import 'macros/form_macros.jinja2' as mform %}
{% block content %}
    <div class="col-12 ">
        <div class="row justify-content-center justify-content-sm-center">
            <div class="col-12 col-sm-8 col-md-7 col-lg-5 col-xl-4 bg-white text-dark p-3 mt-5 border text-center">
                <h1 class="mb-4">Passwort zurücksetzen</h1>
                <p>Password vergessen?</p>
                <p>Schreibe uns deine E-Mail Adresse und wir schicken dir eine Mail mit der Anleitung,
                    wie du dein Passwort zurücksetzen kannst.</p>
                <form method="post" class="floating-label-form">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    {{ mform.email_input(form.email) }}
                    <div class="d-flex mt-4">
                        <button type="submit" class="btn btn-primary mr-auto p-2">Senden</button>
                        <a href="{{ url('realm-home')}}"
                           class="btn btn-secondary p-2">Abbrechen</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}