{% extends 'base.jinja2' %}
{% import 'macros/form_macros.jinja2' as mform %}
{% block content %}
    <div class="col-12 ">
        <div class="row justify-content-center justify-content-sm-center">
            <div class="col-12 col-sm-8 col-md-7 col-lg-5 col-xl-4 bg-white text-dark p-3 mt-5 border text-center">
                <h1 class="mb-4">Passwort zurücksetzen beendet</h1>
                <p>Dein Passwort wurde erfolgreich zurückgesetzt.</p>
                <p></p><a href="{{ url('realm-home') }}">Hier geht's zum Login</a></div>
        </div>
    </div>
{% endblock %}