{% extends 'base.jinja2' %}
{% import 'macros/form_macros.jinja2' as mform %}
{% block content %}
    <div class="col-12 ">
        <div class="row justify-content-center justify-content-sm-center">
            <div class="col-12 col-sm-8 col-md-7 col-lg-5 col-xl-4 bg-white text-dark p-3 mt-5">
                <h1 class="mb-4">Passwort geändert</h1>
                <p>Dein Passwort wurde erfolgreich geändert</p>

                <a href="{{ url('realm-home')}}"
                   class="btn btn-success p-2 w-100">Zurück zur Profilseite</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}