<p>Es wurde Passwort zurücksetzen für den Account mit der E-Mail {{ email }} angefordert</p>
<p>Wenn Sie keine Mail angefordert haben, ignorieren Sie diese.</p>
<p>Der Link ist nur <strong>{{ expiration_days }} Tage</strong> gültig!</p>
<p>Bitte klicke auf den folgenden Link um Ihr Password zurückzusetzen</p>
<a href="{{ protocol }}://{{ domain }}{{ url('ldap_password_reset_confirm', kwargs={'uidb64':uid, 'token':token})  }}">
    {{ protocol }}://{{ domain }}{{ url('ldap_password_reset_confirm', kwargs={'uidb64':uid, 'token':token})  }}
</a>
</p>


