{% extends 'base.jinja2' %}
{% block content %}
    <div class="col-12 ">
        <div class="row justify-content-center justify-content-sm-center">
            <div class="col-12 col-sm-8 col-md-7 col-lg-5 col-xl-4 bg-white text-dark p-3 mt-5">
                <div class="alert alert-info" role="alert">
                    <p>
                        {# TODO: Translation #}
                        Ihr Account im Bereich {{ realm.name }} und Ihre Gruppenzugehörigkeiten wurden erfolgreich
                        gelöscht.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}