{% extends 'base.jinja2' %}
{% block content %}
    <div class="col-12 ">
        <div class="row justify-content-center justify-content-sm-center">
            <div class="col-12 col-sm-8 col-md-7 col-lg-6 col-xl-5 bg-white text-dark text-center p-3 mt-5">
                <p>Diese App wurde mit viel <i style="color: #DC143C;" class="fas fa-spin fa-heart"></i> von Michael
                    Götz entwickelt.</p>
                <a class="nav-item nav-link" href="https://github.com/michigg/lama"
                   target="_blank">Fork me <i class="fab fa-1x fa-github"></i></a>
                <br>
                <h2>Icons</h2>
                Das App-Icon wurde von Freepik von <a href="https://www.flaticon.com">www.flaticon.com</a> erstellt.
                <p>Alle anderen Icons stammen von <a href="https://fontawesome.com"> www.fontawesome.com</a> <i
                        class="fab fa-font-awesome"></i>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 bg-white text-dark text-center p-3 mt-5">
                <h2>Frontend</h2>
                <p>Bootstrap4</p>
                <p>jquery</p>
                <p>dataTables</p>

            </div>
            <div class="col-12 col-sm-12 col-md-6 bg-white text-dark text-center p-3 mt-5">
                <h2>Backend</h2>
                <p>Django</p>
                <p>django-auth-ldap</p>
                <p>django-ldapdb</p>
                <p>jinja2</p>
            </div>
        </div>
        <div class="row justify-content-center justify-content-sm-center">
            <div class="col-12 col-sm-8 col-md-7 col-lg-6 col-xl-5 bg-white text-dark text-center p-3 mt-5">
                <a href="{{ url('realm-home') }}">Zurück zur Startseite</a>
            </div>
        </div>

    </div>
{% endblock %}