{#{% load static %}#}
{# ===== HTML ===== #}
<!DOCTYPE html>
<html lang="en" dir="ltr">
{# ===== Head ===== #}
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LAMa</title>
    <link rel="icon"
          type="image/png"
          href="{{ static('images/logo.png') }}">
    <meta name="author" content="Michael Götz"/>
    {% block js_extra %}{% endblock %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ static('libs/bootstrap-4.3.1-dist/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ static('css/floating_labels.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


    {% block css_extra %}{% endblock %}
</head>

{# ===== Body ===== #}
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="{{ url('realm-home') }}">
        {#      TODO: Icon#}
        <img src="{{ static('images/lama.svg') }}" width="30" height="30" class="d-inline-block align-top"
             alt="">
        LAMa
    </a>
    {% if request.user.is_authenticated %}
        <span class="navbar-text">
        Hi {{ request.user.username }}!
        <a href="{{ url('logout') }}?next=/">Logout <i class="fas fa-sign-out-alt"></i></a>
    {% else %}
        <a href="{{ url('login') }}"><i class="fas fa-sign-in-alt"></i> Login</a>
    {% endif %}
    </span>
</nav>

{% block body %}
    {% block content %}{% endblock %}
{% endblock %}

{% if not realms or realm %}

<footer class="bg-light footer mt-auto py-3 text-center">
  <div class="container">
    <span class="text-muted">
        <a href="{{ url('about') }}">Über</a>
    </span>
  </div>
</footer>

{% endif %}


{% block js_tail %}{% endblock %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="{{ static('js/main.js') }}"></script>

</body>
</html>