{% extends 'base_admin.jinja2' %}
{% block admin_content %}
    <div class="row ">
        <div class="col-12 p-3">
            <h1>Fehler {{ realm_name }}</h1>
            <div class="alert alert-danger">
                <p>Das hinzufügen des Bereichs ist fehlgeschlagen.</p>
                {% if error %}
                    <p>{{ error }}</p>
                {% else %}
                    <p>Bitte überprüfe den Ldap base dn, ob dieser auch wirklich existiert.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
