{% extends 'realm/realm_detailed.jinja2' %}
{% block detail_content %}
    <h2>Nutzer </h2>
    <div class="form-group w-25 float-right">
        <input type="text"
               class="form-control"
               id="data-table-search-input">
        <label for="data-table-search-input">Suche</label>
    </div>
    <table class="table table-hover table-striped table-inverse table-bordered data-table">
        <thead>
        <tr>
            <th scope="col">Nutzername</th>
            <th scope="col">E-Mail</th>
            <th scope="col">Vorname</th>
            <th scope="col">Nachname</th>
            <th scope="col">Aktiv</th>
        </tr>
        </thead>
        <tbody>
        {% for user in realm_user %}
            <tr>
                <td><a href="{{ url('realm-user-detail', args=[realm.id, user.user.dn]) }}">{{ user.user.username }}</a>
                </td>
                <td>{{ user.user.email }}</td>
                <td>{{ user.user.first_name }}</td>
                <td>{{ user.user.last_name }}</td>
                <td class="text-center">{% if user.active %}
                    <i class="fas fa-check-circle text-success"></i>{% else %}
                    <i class="far fa-times-circle text-warning"></i>{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ url('realm-user-add', args=[realm.id]) }}" class="btn btn-primary">Nutzer hinzufügen</a>
    <a href="{{ url('realm-multiple-user-delete-confirm', args=[realm.id]) }}" class="btn btn-danger"> Mehrere Nutzer
        Löschen</a>
{% endblock %}