{% extends 'base.jinja' %}
{% block content %}
    <a href="{{ url('user-add') }}">Nutzer anlegen</a> | <a href="{{ url('group-add') }}">Gruppe anlegen</a>

    <h2>Neuen Bereich anlegen</h2>
    <form method="post">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    {{ form.as_p()|safe }}
                    <button type="submit">Login</button>
                </form>
    <h2>Realms</h2>
    {% for realm in realms %}
        <p>{{ realm.name }}</p>
    {% endfor %}
{% endblock %}
