{% extends 'base.jinja2' %}
{% block content %}
    <a href="{{ url('realm-home') }}">Zurück zur Realmübersicht</a>
    <h1>Bereich {{ realm.name }}</h1>
    <h2>Bereich Info</h2>
    <p>LDAP OU: {{ realm.ldap_base_dn }}</p>
    <p>Email: {{ realm.email }}</p>
    <p>Admin Gruppe: {{ realm.admin_group }}</p>
    {% if request.user.is_superuser %}
        {% block realm_form %}
            <h2><a href="{{ url('realm-update', args=[realm.id]) }}">Bereichsinformationen anpassen</a></h2>
        {% endblock %}
    {% endif %}

    <h2><a href="{{ url('realm-user-add', args=[realm.id]) }}">Nutzer hinzufügen</a></h2>
    {% block user_content %}
        <h2><a href="{{ url('realm-user-list', args=[realm.id]) }}">Nutzer</a></h2>
    {% endblock %}
    <h2><a href="{{ url('realm-group-add', args=[realm.id]) }}">Gruppen hinzufügen</a></h2>
    {% block groups_content %}
        <h2><a href="{{ url('realm-group-list', args=[realm.id]) }}">Gruppen</a></h2>
    {% endblock %}
    {% block extra_content %}
    {% endblock %}
{% endblock %}
