{% extends 'realm/realm_detailed.jinja2' %}

{% block groups_content %}
    <h2>Gruppen</h2>
    {% for group in realm_groups %}
        <p>{{ group.name }} - <a href="{{ url('realm-group-detail', args=[realm.id, group.dn]) }}">{{ group.dn }}</a>
        </p>
    {% endfor %}
{% endblock %}
