{% extends 'base.jinja2' %}
{% block content %}
    <h2>Neuen Bereich anlegen</h2>
    <form method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        {{ form.as_p()|safe }}
        <button type="submit">Anlegen</button>
    </form>
    <h2>Realms</h2>
    {% for realm in realms %}
        <p><a href="{{ url('realm-detail', args=[realm.id]) }}">{{ realm.name }}</a> <a
                href="{{ url('realm-delete', args=[realm.id]) }}">Delete</a></p>
    {% endfor %}
{% endblock %}
