{% extends 'base.jinja2' %}
{% import 'macros/form_macros.jinja2' as mform %}
{% block content %}
    <div class="col-12 ">
        <div class="row justify-content-center justify-content-sm-center">
            <div class="col-12 col-sm-8 col-md-7 col-lg-5 col-xl-4 bg-white text-dark p-3 mt-5 border text-center">
                <h1 class="mb-4">Mail versendet</h1>
                <p>Wenn ein Account mit dieser Mail existiert, haben wir dir eine Mail gesendet. Du solltest also
                    bald
                    eine Mail erhalten.</p>
                <p>Wenn du keine Mail erhalten hast, dann prüfe deine Mail Adresse und Spam Ordner. Falls du dennoch
                    keine erhalten hast, wende dich and deinen Administrator.</p>
            </div>
        </div>
    </div>
{% endblock %}