{% extends 'base_admin.jinja2' %}
{% import 'macros/form_macros.jinja2' as mform %}
{% import 'macros/utils_macros.jinja2' as mutils %}

{% block admin_content %}
    <div class="row">
        <div class="col-12">
            <h2>Einstellungen</h2>
            <h3>Mail</h3>
            <ul class="list-group list-group-flush w-100">
                <li class="list-group-item">Willkommens E-Mail Template {% if not welcome_mail_form -%}<a
                        href="{{ url('admin-welcome-mail-configuration') }}"
                        class="float-right">Ändern</a>{%- endif %}
                    {% if welcome_mail_form -%}
                        <form method="post">
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            {{ mform.textarea_input(welcome_mail_form.template) }}
                            <div class="d-flex mt-4">
                                <button type="submit" class="btn btn-primary mr-auto p-2">Speichern</button>
                                <a href="{{ url('admin-configuration-options') }}"
                                   class="btn btn-secondary p-2">Abbrechen</a>
                            </div>
                        </form>
                    {%- endif %}
                </li>
                <li class="list-group-item">Nutzerlöschungs E-Mail Template {% if not deletion_mail_form -%}<a
                        href="{{ url('admin-delete-mail-configuration') }}"
                        class="float-right">Ändern</a>{%- endif %}
                    {% if deletion_mail_form -%}
                        <form method="post">
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            {{ mform.textarea_input(deletion_mail_form.template) }}
                            <div class="d-flex mt-4">
                                <button type="submit" class="btn btn-primary mr-auto p-2">Speichern</button>
                                <a href="{{ url('admin-configuration-options') }}"
                                   class="btn btn-secondary p-2">Abbrechen</a>
                            </div>
                        </form>
                    {%- endif %}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
