{% extends 'base_admin.jinja2' %}
{% import 'macros/form_macros.jinja2' as mform %}
{% import 'macros/utils_macros.jinja2' as mutils %}

{% block admin_content %}
    <div class="row justify-content-center justify-content-sm-center">
        <div class="col-12 col-sm-8 col-md-8 col-lg-6 col-xl-5 bg-white text-dark p-3 mt-5">
            {% if request.user.is_superuser %}
                {# Translators: Is the Headline of the create new realm view #}
                <h2>{{ _('CreateNewRealm') }}</h2>
                <form method="post">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    {{ mform.text_input(form.name) }}
                    {{ mform.text_input(form.ldap_base_dn) }}
                    {# Translators: the submit button text for the create new realm form#}
                    <button type="submit" class="btn btn-primary btn-block">{{ _('CreateRealm') }}</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
