{% extends 'realm/realm_detailed.jinja2' %}
{% import 'macros/form_macros.jinja2' as mform %}
{% import 'macros/utils_macros.jinja2' as mutils %}

{% block detail_content %}
    <h2>{{ _('DeleteUser') }}</h2>
    {{ mutils.get_warning_box(extra_errors) }}
    {% if blocked_users %}
        <div class="alert alert-warning">
            {{ _('MultipleUserDeleteError')|safe }}
            <ul>
                {% for blocked_user in blocked_users %}
                    <li>{{ blocked_user.username }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="form-group w-25 float-right">
        <input type="text"
               class="form-control"
               placeholder="Personen Suche"
               id="data-table-search-input">
        <label for="data-table-search-input">{{ _('Search') }}Suche</label>
    </div>
    <form action="{{ url('realm-multiple-user-delete', args=[realm.id]) }}" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        {{ mform.user_select_table_input(users=[], deletable_users=deletable_users, blocked_users=blocked_users, name="ldap_users",css_classes='',show_lastlogin=True, checkbox_label_classes='table-checkbox-control-label') }}
        <div class="d-flex mt-4">
            <button type="submit" class="btn btn-danger mr-auto p-2">{{ _('Execute') }}</button>
            <a href="{{ url('realm-user-list', args = [realm.id]) }}"
               class="btn btn-secondary p-2">{{ _('Cancel') }}</a>
        </div>
    </form>
{% endblock %}