{% extends 'realm/realm_detailed.jinja2' %}
{% import 'macros/form_macros.jinja2' as mform %}

{% block detail_content %}
    {% if form %}
        <form method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            {{ mform.text_input(form.ldap_base_dn) }}
            {{ mform.text_input(form.name) }}
            {{ mform.email_input(form.email) }}
            {{ mform.select_input(form.admin_group) }}
            {{ mform.select_input(form.default_group) }}
            <div class="d-flex mt-4">
                <button type="submit" class="btn btn-primary mr-auto p-2">{{ _('Save') }}</button>
                <a href="{{ url('realm-detail', args = [realm.id]) }}"
                   class="btn btn-secondary p-2">{{ _('Cancel') }}</a>
            </div>
        </form>
    {% endif %}
{% endblock %}