{% extends 'base_admin.jinja2' %}
{% block admin_content %}
    <div class="row ">
        <div class="col-12 p-3">
            <h1> {{ _('Realm') }} <span style="text-transform: uppercase">{{ realm.name }}</span>
                <small>
                    {% if request.user.is_superuser %}
                        <a href="{{ url('realm-delete-confirm', args=[realm.id]) }}"
                           class="h5 realm-delete-link"><i class="fas fa-dumpster"></i> <span
                                class="d-none d-md-inline-block"> {{ _('RealmDetailRemoveRealm') }}</span></a>
                    {% endif %}
                </small>
            </h1>

            {% if notice %}<p style="color: green">{{ notice }}</p>{% endif %}
            {% if error %}<p style="color: darkred">{{ error }}</p>{% endif %}
            {% block detail_content %}
                <ul class="list-group list-group-flush w-100">
                    <li class="list-group-item"> {{ _('RealmDetailLdapOU') }}: {{ realm.ldap_base_dn }}</li>
                    <li class="list-group-item"> {{ _('RealmDetailUserCount') }}: {{ users_count }}
                        ({{ users_count-inactive_user_count }}/{{ inactive_user_count }})
                        <a
                                href="{{ url('realm-multiple-user-delete-inactive', args=[realm.id]) }}"
                                class="float-right">
                            {{ _('RealmDetailRemoveInactiveUser') }}
                        </a>
                    </li>
                    <li class="list-group-item">{{ _('Email') }}:
                        {% if realm.email %}{{ realm.email }}{% else %}
                            <span class="text-danger">{{ _('RealmDetailStillPending') }}</span>{% endif %}
                    </li>
                    <li class="list-group-item">{{ _('RealmDetailAdminGroup') }}:
                        {% if realm.admin_group %}
                            <a href="{{ url('realm-group-detail', args=[realm.id, ldap_admin_group.dn]) }}"
                               class="badge badge-primary p-2">{{ realm.admin_group }}</a>
                        {% else %}
                            <span class="text-warning">{{ _('RealmDetailStillPending') }}</span>
                        {% endif %}
                    </li>
                    <li class="list-group-item">{{ _('RealmDetailDefaultGroup') }}:
                        {% if realm.default_group %}
                            <a href="{{ url('realm-group-detail', args=[realm.id, ldap_default_group.dn]) }}"
                               class="badge badge-secondary p-2">{{ realm.default_group }}</a>
                        {% else %}
                            <span class="text-warning">{{ _('RealmDetailStillPending') }}</span>
                        {% endif %}
                    </li>
                </ul>
                <div class="d-flex mt-3">
                    {% if request.user.is_superuser %}
                        <a href="{{ url('realm-update', args=[realm.id]) }}" class="btn btn-primary mr-auto p-2"><i
                                class="fas fa-info-circle"></i> {{ _('RealmDetailChangeRealmInfo') }}</a>

                        {% if realm.email %}
                            <a href="{{ url('realm-mail-test', args=[realm.id]) }}" class="btn btn-secondary p-2"><i
                                    class="fas fa-paper-plane"></i> {{ _('RealmDetailTestMail') }}</a>
                        {% endif %}
                    {% endif %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
