{% extends 'base_admin.jinja2' %}
{% block admin_content %}
    <div class="row ">
        <div class="col-12 p-3">
            <h1>{{ _('AddRealmError') }} <span class="realm-name">{{ realm_name }}</span></h1>
            <div class="alert alert-danger">
                <p>{{ _('AddRealmErrorInfo') }}</p>
                {% if error %}
                    <p>{{ error }}</p>
                {% else %}
                    <p>{{ _('AddRealmErrorLdapInfo') }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
