{% extends 'realm/realm_detailed.jinja2' %}
{% import 'macros/utils_macros.jinja2' as mutils %}

{% block detail_content %}
    {{ mutils.get_success_toast(success_headline, success_text, error_headline, error_text) }}
    <h2>Nutzer </h2>
    {{ mutils.get_user_table(realm, realm_user) }}
    <a href="{{ url('realm-user-add', args=[realm.id]) }}" class="btn btn-primary"><i class="fas fa-user-plus"></i>
        Nutzer hinzufügen</a>
    <a href="{{ url('realm-multiple-user-delete-confirm', args=[realm.id]) }}" class="btn btn-danger float-right"><i
            class="fas fa-trash"></i> Mehrere Nutzer
        Löschen</a>
{% endblock %}