{% extends 'realm/realm_detailed.jinja2' %}

{% block detail_content %}
    <h3>{{ _('Groups') }}</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">{{ _('Name') }}</th>
            <th scope="col">{{ _('Description') }}</th>
            <th scope="col">{{ _('MemberCount') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for group in realm_groups %}
            <tr>
                <td><a href="{{ url('realm-group-detail', args=[realm.id, group.dn]) }}"
                       data-toggle="tooltip"
                       data-placement="right"
                       title="{{ group.description }}"
                >{{ group.name }}</a>
                </td>
                <td data-toggle="tooltip"
                    data-placement="right"
                    title="{{ group.description }}">{{ group.description|truncate(100) }}</td>
                <td>{{ group.members|length }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ url('realm-group-add', args=[realm.id]) }}" class="btn btn-primary"><i class="far fa-plus-square"></i>
        {{ _('AddGroups') }}</a>
{% endblock %}
