<h1>LAMa Accountlöschung</h1>
<p>Ihr Account mit dem Nutzernamen <strong>{{ user.username }}</strong> wurde als gelöscht markiert.
    Ihre Nutzerdaten werden in {{ deletion_wait_days }} Tagen gelöscht.
    Falls Sie noch wichtige Daten in den %Firmenname% Services gespeichert haben, kopieren Sie diese bitte noch vor der
    Löschung.
    Danach werden diese nicht mehr zugänglich sein.</p>
<p>Wenn Sie weiter Teil der %Firmenname% Services sein wollen, kontaktieren Sie Ihren Administrator.</p>
<p>Wir wünschen Ihnen noch eine schöne Zeit.</p>
<p>Das Admin Team</p>
Kontakt: <a href="mailto:%mailadresse%?subject=LAMa (Dein Betreff)">%mailadresse%</a>