:root {
    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
}

.form-control {
    height: calc(1.5em + 0.75rem + 0.75rem + 2px);
}

.floating-label-form {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;
}

.form-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-group > input,
.form-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-group input:-ms-input-placeholder {
    color: transparent;
}

.form-group input::-ms-input-placeholder {
    color: transparent;
}

.form-group input::-moz-placeholder {
    color: transparent;
}

.form-group input::placeholder {
    color: transparent;
}

.form-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

/*SIDEBAR*/

.sidebar-bottom {
    position: fixed;
    width: 15rem;
    bottom: 0;
}

.sidebar-wrapper {
    min-height: calc(100vh - 56px);
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

.sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    margin-bottom: 0;
    font-size: 1.2rem;
}

.sidebar-wrapper .list-group {
    width: 15rem;
}

.page-content-wrapper {
    width: 100vw;
}

.wrapper.toggled .sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    .sidebar-wrapper {
        margin-left: 0;
    }

    .page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    .wrapper.toggled .sidebar-wrapper {
        margin-left: -15rem;
    }
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* --                                          Data Tables                                                         -- */
/* ------------------------------------------------------------------------------------------------------------------ */
/*!* Hide stuff from dataTables that we do not neeed *!*/
/*.dataTables_length, .dataTables_info, .dataTables_paginate {*/
/*!*visibility: hidden*!*/
/*}*/

.paginate_button {
    padding: 0px 2px
}

.paginate_button.current {
    font-size: 1.4em;
    font-weight: bold;
}

@media (max-width: 480px) {
    .table-search-field {
        width: 100% !important;
    }
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* --                                Multiple User deletion Custom checkbox                                        -- */
/* ------------------------------------------------------------------------------------------------------------------ */

.table-checkbox-control-label::before {
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.table-checkbox-control-label::before {
    /* position: absolute; */
    top: 0.25rem;
    left: -1.5rem;
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
}

.table-checkbox-control-input:checked ~ .table-checkbox-control-label::before {
    color: #fff;
    border-color: var(--danger);
    background-color: var(--danger);
}

.table-checkbox-control-input:checked ~ .table-checkbox-control-label-add::before {
    color: #fff;
    border-color: var(--primary);
    background-color: var(--primary);
}

.table-checkbox-control-label::after {
    position: absolute;
    top: 0.25rem;
    left: -1.5rem;
    display: block;
    /*width: 1.5rem;*/
    /*height: 1.5rem;*/
    content: "";
    background: no-repeat 50% / 50% 50%;
}

.table-checkbox-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: middle;
}

.table-checkbox-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.table th, .table td {
    padding: 0.5rem;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* --                                Realm delete                                                                  -- */
/* ------------------------------------------------------------------------------------------------------------------ */
.realm-delete-link {
    color: #6c757d;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* --                                Footer                                                                        -- */
/* ------------------------------------------------------------------------------------------------------------------ */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}