{% extends 'base.jinja2' %}
{% block content %}
    <p>Ihr Account im Bereich {{ realm.name }} und Ihre Gruppenzugehörigkeiten wurden erfolgreich gelöscht.</p>
    <a href="{{ url('realm-home') }}">Zurück zur Realm Übersicht</a>
{% endblock %}