{% extends 'base.jinja' %}
{% block content %}
    <a href="{{ url('user-list') }}">Nutzerübersicht</a>
    <p>DN: {{ user.dn }}</p>
    <p>Nutzername: {{ user.username }}</p>
    <p>Vorname: {{ user.first_name }}</p>
    <p>Nachname: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Passwort: {{ user.password }}</p>
    <p>Telefon: {{ user.phone }}</p>
    <p>Mobiltelefon: {{ user.mobile_phone }}</p>
{% endblock %}