{% extends 'realm/realm_detailed.jinja2' %}
{% import 'macros/form_macros.jinja2' as mform %}

{% block detail_content %}
    <h2>Gruppe anlegen</h2>
    {% if extra_error %}
        <div class="alert alert-warning">{{ extra_error }}</div>
    {% endif %}
    <form action="{{ url('realm-group-add', args=[realm.id]) }}" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        {{ mform.text_input(form.name) }}
        {{ form.members.label }}
        <div class="form-group w-25 float-right">
            <input type="text"
                   class="form-control"
                   id="data-table-search-input">
            <label for="data-table-search-input">Suche</label>
        </div>
        {{ mform.user_select_table_input(form.members, users) }}
        <div class="d-flex mt-4">
            <button type="submit" class="btn btn-primary mr-auto p-2">Speichern</button>
            <a href="{{ url('realm-group-list', args = [realm.id]) }}"
               class="btn btn-secondary p-2">Abbrechen</a>
        </div>
    </form>
{% endblock %}