{% extends 'realm/realm_detailed.jinja2' %}
{% import 'macros/form_macros.jinja2' as mform %}

{% block detail_content %}
    <h3><span class="text-uppercase">{{ user.username }}</span> - Gruppen Zuweisung ändern</h3>
    <form method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        {#    {{ mform.text_input(form.username) }}#}
        {#    {{ mform.email_input(form.email) }}#}
        {#    {{ mform.password_input(form.password) }}#}
        {#    {{ mform.text_input(form.first_name) }}#}
        {#    {{ mform.text_input(form.last_name) }}#}
        <div class="d-flex mt-4">
            <button type="submit" class="btn btn-primary mr-auto p-2">Speichern</button>
            <a href="{{ url('realm-user-detail', args = [realm.id, user.dn]) }}"
               class="btn btn-secondary p-2">Abbrechen</a>
        </div>
    </form>
{% endblock %}