<h1>Einen Nutzer für den Bereich {{ realm.name }} anlegen</h1>
<form action="{{ url('realm-user-add', args=[realm.id]) }}" method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    {{ form.as_p() }}
    <input type="submit" value="Submit">
</form>